* {
	box-sizing: border-box;
	margin: 2px;
}

body{
	background-color: #BF4653;
}

.logo{
	display: inline-block;
	width: 300px;
}

nav{
	display: flex;
	
}

.menu{
	padding-top: 20px;
	margin: 0 70px 0;
}
.menu a{
	background-color: #BF3A49;
	padding: 20px;
	text-decoration: none;
	color: #FBFAF8;
	font-size:20px;
	border: 20px;
	border-radius: 20px;
}

.imagem{
	position: relative;
	left: 60px;
	padding-top: 40px;
}

.news{
	color: #FBFAF8 ;
	font-size: 70px;
	margin: 100px;
	text-align: center;
}

p{
	color: #FBFAF8 ;
}
